.profileWrapper{
    display: grid;

    grid-template-columns: 1.2fr 2fr;
}

div{
    border-radius: 5px;
}


/* FirstCol*/
.firstColumn {
    padding: 20px;
}
 
.firstColumn div{
    background-color: #dfd2d2;
}


/* secondColumn */

.secondColumn{
    padding: 20px;
}

.Block{
    background-color: #dfd2d2;

    margin-bottom: 10px;
}