.wrapper{
  display: grid;

  grid-template-rows: 1fr auto;
  grid-template-columns: minmax(220px, 0.8fr) minmax(800px, 3fr) minmax(220px, 1fr);

  grid-template-areas: 
    "header header header"
    "nav main functions";

  gap: 10px;
}

.container{
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}
