.wrapper{
  display: grid;

  grid-template-rows: 1fr auto;
  grid-template-columns: 0.8fr 3fr 1fr;

  grid-template-areas: 
    "header header header"
    "nav main functions";

  gap: 10px;
}

.container{
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}
