.wrapper{
  display: grid;

  grid-template-rows: 1fr auto;
  grid-template-columns: minmax(100px, 0.8fr) minmax(500px, 3fr) minmax(100px, 1fr);

  grid-template-areas: 
    "header header header"
    "nav main functions";

  gap: 10px;
}

.container{
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

*{
  box-sizing: border-box;
}