.nav{
    grid-area: nav;

    background-color: rgb(255, 255, 255);

    border-radius: 5px;

    padding: 10px;

    /* Фиксированные размеры */
    height: auto;
    max-height: 150px;

    width: auto;
    min-width: 165px;
}

.nav a{
    display: block;

    text-decoration: none;
    color: #272525;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    
    font-size: 16px;

    transition: .3s;
}

.nav a span{
    margin-left: 5px;
}

.nav a:hover{
    font-size: 17px;
}

.nav a:before{
    content: "";
    background-color: brown;
    height: 95%;
    width: 5px;

    position: absolute;

    top:0;
    left: 0;

    opacity: 0;
    transition: opacity .3s;

    border-radius: 2px;
}

.nav a:hover:before{
    opacity: 1;
}

.containerForLink{
    position: relative;

    padding: 0 10px;

    border-radius: 5px;
    background: #ddbfbf;

    margin: 7px;
}